# SPDX-License-Identifier: MIT-0
---

- name: Install Packages
  become: true
  pacman:
    name:
      - tmux
    state: present

- name: Install keyd (Key Remapper)
  become: true
  pacman:
    name:
      - keyd
    state: present
  tags:
    - keyd

- name: Enable keyd service
  become: true
  systemd:
    name: keyd
    enabled: true
    state: started
  tags:
    - keyd

- name: Template keyd default.conf to a /etc/keyd/default.conf
  become: true
  ansible.builtin.template:
    src: ../templates/keyd.default.conf.j2
    dest: /etc/keyd/default.conf
    owner: root
    group: root
    mode: '0644'
  notify: Restart keyd service

- name: Install LazyVim Dependencies & Fonts
  become: true
  pacman:
    name:
      - ttf-jetbrains-mono-nerd  # The Font
      - ripgrep                  # For Telescope live_grep
      - fd                       # For Telescope find_files
      - unzip                    # Required by Mason to install LSPs
      - luarocks                 # Required for some Neovim plugins
      - xclip                    # THE SECRET TO PBCOPY (for i3/X11)
      - xsel                     # Alternative clipboard helper
      - nodejs                   # Required for many LSPs via Mason
      - npm                      # Required for many LSPs via Mason
      - python-pip               # Required for some Python LSPs
      - lazygit
    state: present

# - name: Install Fingerprint Support Packages
#   become: true
#   pacman:
#     name:
#       - fprintd
#       - imagemagick # Sometimes needed for driver processing
#     state: present
# # Requires python-validity AUR installation using yay.

# - name: Enable fprintd service
#   become: true
#   systemd:
#     name: fprintd
#     enabled: true
#     state: started
#
